<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87251755461-ir1tvka87v2cfabhr1ba919m5s8lddcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87251755461-ir1tvka87v2cfabhr1ba919m5s8lddcj</string>
	<key>API_KEY</key>
	<string>AIzaSyCopPNZzVYsNkmoeLQnNeeLcu4avY8Obmo</string>
	<key>GCM_SENDER_ID</key>
	<string>87251755461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-efa41</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-efa41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87251755461:ios:c8787c2b1cf42e1c6e6bac</string>
</dict>
</plist>